
@{
    ViewData["Title"] = "Links";
}



        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">
                    <h3 class="name">Sean</h3>                    
                    <img src="/assets/images/classmates/Sean.jpg" alt="Sean Coyan">
                </div>    
                <div class="card-body1"> 
                    <a href="http://seancoyan.com/">http://seancoyan.com/</a>
                    <br><br>
                    <a href="#">seancoyan@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">            
                    <h3 class="name">Casey</h3>        
                    <img src="/assets/images/classmates/Casey.jpg" alt="Casey Brown">
                </div>    
                <div class="card-body1"> 
                    <a href="http://www.somethingcachey.com">http://www.somethingcachey.com</a>
                    <br><br>
                    <a href="#">CaseyBrownWD@gmail.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">   
                    <h3 class="name">Kurtis</h3>                 
                    <img src="/assets/images/classmates/Kurtis.jpeg" alt="Kurtis Caldwell">
                </div>    
                <div class="card-body1">
                    <a href="http://kurtiscaldwell.com/">http://kurtiscaldwell.com/</a>
                    <br><br>
                    <a href="#">KCaldwell86@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1"> 
                    <h3 class="name">Zach</h3>                   
                    <img src="/assets/images/classmates/Zach.jpg" alt="Zachary Barkoviak">
                </div>    
                <div class="card-body1">
                    <a href="http://zachbarkoviak.com/">http://zachbarkoviak.com/</a>
                    <br><br>
                    <a href="#">zjbarkoviak@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">   
                    <h3 class="name">Brittany</h3>                 
                    <img src="/assets/images/classmates/Brittany.jpg" alt="Brittany Dodd">
                </div>    
                <div class="card-body1">
                    <a href="http://brittanydodd.net/">http://brittanydodd.net/</a>
                    <br><br>
                    <a href="#">brittany.r.dodd@hotmail.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1"> 
                    <h3 class="name">Storm</h3>                   
                    <img src="/assets/images/classmates/Storm.jpg" alt="Storm Agnew">
                </div>    
                <div class="card-body1">
                    <a href="https://www.stormycoding.com/">https://www.stormycoding.com/</a>
                    <br><br>
                    <a href="#">StormAgnew77@gmail.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">    
                    <h3 class="name">Tanner</h3>               
                    <img src="/assets/images/classmates/Tanner.JPG" alt="Tanner Lampson">
                </div>    
                <div class="card-body1">
                    <a href="https://www.tannermatthew.dev/">https://www.tannermatthew.dev/</a>
                    <br><br>
                    <a href="#">CyberTML@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">
                    <h3 class="name">Paige</h3>                    
                    <img src="/assets/images/classmates/Paige.jpg" alt="Paige Scott">
                </div>    
                <div class="card-body1"> 
                    <a href="http://readypaigeone.com/">http://readypaigeone.com/</a>
                    <br><br>
                    <a href="#">paigescott3@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1"> 
                    <h3 class="name">John</h3>                   
                    <img src="/assets/images/classmates/John.jpg" alt="John Walls">
                </div>    
                <div class="card-body1"> 
                    <a href="https://www.jpwalls.com/">https://www.jpwalls.com/</a>
                    <br><br>
                    <a href="#">JPWalls08@gmail.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1"> 
                    <h3 class="name">Devin</h3>                   
                    <img src="/assets/images/classmates/Devin.jpg" alt="Devin Kuhlman">
                </div>    
                <div class="card-body1"> 
                    <a href="http://www.devinkuhlman.com/">http://www.devinkuhlman.com/</a>
                    <br><br>
                    <a href="#">devin.kuhlman@att.net</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1"> 
                    <h3 class="name">Juno</h3>                   
                    <img src="/assets/images/classmates/Juno.jpg" alt="Juno Lewis">
                </div>    
                <div class="card-body1"> 
                    <a href="https://www.jlewisinquiry.com/">https://www.jlewisinquiry.com/</a>
                    <br><br>
                    <a href="#">Juno042022@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">
                    <h3 class="name">Jacquelyn</h3>                    
                    <img src="/assets/images/classmates/Jacquelyn.jpg" alt="Jacquelyn Little">
                </div>    
                <div class="card-body1"> 
                    <a href="https://www.jacquelynlittle.com/">https://www.jacquelynlittle.com/</a>
                    <br><br>
                    <a href="#">jacquelynlittle1@outlook.com</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">
                    <h3 class="name">Dylan</h3>                    
                    <img src="/assets/images/classmates/Dylan.jpg" alt="Dylan Poole">
                </div>    
                <div class="card-body1"> 
                    <a href="https://www.dylanpoole.com/">https://www.dylanpoole.com/</a>
                    <br><br>
                    <a href="#">dypool01@wsc.edu</a>
                </div>                
            </div>
        </article>
        <article class="card-container1">
            <div class="card1">
                <div class="card-header1">
                    <h3 class="name">Dawson</h3>                    
                    <img src="/assets/images/classmates/Dawson.jpg" alt="Dawson Meier">
                </div>    
                <div class="card-body1">
                    <a href="https://www.dawsonmeierdev.net/">https://www.dawsonmeierdev.net/</a>
                    <br><br>
                    <a href="#">Dawson.A.Meier@gmail.com</a>
                </div>                
            </div>
        </article>
