@{
    ViewData["Title"] = "Portfolio";
}

<main>
    <section class="section-padding bg-light-gray" id="class-topics">
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <a href="https://github.com/mejennings104/DangOlDungeon.git">
                        <img src="~/assets/images/dangolspacedungeon.png" alt="Dungeon App" />
                    </a>
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">Dang Ol' Space Dungeon</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <a href="https://github.com/mejennings104/BeedleStore.git">
                        <img src="~/assets/images/storefront.png" alt="StoreFront" />
                    </a>
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">StoreFront</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <a href="https://github.com/mejennings104/to-do-app.git">
                        <img src="~/assets/images/todoapi.png" alt="ToDo App" />
                    </a>
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">ToDo App</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <a href="https://github.com/mejennings104/ToDoAPI.git">
                        <img src="~/assets/images/Todoapiswagger.png" alt="ToDoAPI" />
                    </a>
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">ToDoAPI</span>
                </div>
            </div>
        </article>


    </section>
    <hr />
    <div class="text-center text-white">
        <h1>I am familiar with these tools...</h1>
    </div>

    <section class="section-padding bg-light-gray" id="class-topics">
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="~/assets/images/HTML5.png" alt="HTML5 logo" />
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">HTML</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="~/assets/images/CSS3.png" alt="CSS3 logo" />
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">CSS</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="~/assets/images/javascript.png" alt="JavaScript logo" />
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">JavaScript</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="~/assets/images/Bootstrap5.png" alt="Bootstrap 5 logo" />
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">Bootstrap</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="~/assets/images/react.png" alt="React logo" />
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">ReactJS</span>
                </div>
            </div>
        </article>
        <article class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="~/assets/images/jquery.png" alt="jQuery logo" />
                </div>
                <div class="card-body text-center">
                    <span class="tag tag-brand-blue">jQuery</span>
                </div>
            </div>
        </article>
    </section>

</main>
