@{
    ViewData["Title"] = "Resume";
}

        <div class="container-center p-4 m-3">
            <p class="light">Download my resume</p>
            <button class="download">Download</button>
        </div>
